<h1>Shopping Cart</h1>
<ng-container *ngIf="cart$ | async as cart">
    <p>
        You have {{ cart.totalItemsCount }} items in your cart
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let productIds of cart.productIds">
                <td>{{ cart.items[productIds].product.title }}</td>
                <td>{{ cart.items[productIds].quantity }}</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</ng-container>